Contents/mods/maelstroms-music/common/media/scripts/GeneratedRadios.txt
Contents/mods/maelstroms-music/common/media/radios/_radios_manifest.txt

Contents/mods/maelstroms-music/common/media/radios/*
!Contents/mods/maelstroms-music/common/media/radios/.gitkeep
!Contents/mods/maelstroms-music/common/media/radios/example
!Contents/mods/maelstroms-music/common/media/radios/example.json

Contents/mods/maelstroms-music/common/media/televisions/*
!Contents/mods/maelstroms-music/common/media/televisions/.gitkeep

Contents/mods/maelstroms-music/common/media/backgrounds/*
!Contents/mods/maelstroms-music/common/media/backgrounds/.gitkeep

Contents/mods/maelstroms-music/common/media/mainmenu/*
!Contents/mods/maelstroms-music/common/media/mainmenu/.gitkeep
