common/media/scripts/GeneratedRadios.txt
common/media/radios/_radios_manifest.txt

common/media/radios/*
!common/media/radios/.gitkeep
!common/media/radios/example
!common/media/radios/example.json

common/media/televisions/*
!common/media/televisions/.gitkeep

common/media/backgrounds/*
!common/media/backgrounds/.gitkeep

common/media/mainmenu/*
!common/media/mainmenu/.gitkeep
